<!-- Header -->
<div class="container-xl text-center pt-5">
  <div class="col">
    <p>Current Balance</p>
    <h2>{{ currentBalance | currency: 'USD' }}</h2>
  </div>
  <div class="row">
    <div class="col">
      <p>Income</p>
      <h2 class="text-success">{{ incomeSum | currency: 'USD'}}</h2>
    </div>
    <div class="col">
      <p>Expenses</p>
      <h2 class="text-danger">{{ expenseSum | currency: 'USD'}}</h2>
    </div>
  </div>
</div>

<!-- Income and Expenses Table-->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of dataList" class="class">
        <td [class.text-success]="item.expenseType == undefined" [class.text-danger]="item.incomeType == undefined">{{ item.value | currency: 'USD' }}</td>
        <td>{{ item.tCreated * 1000 | date: "dd/MM/YYYY" }}</td>
        <td>{{ item.comment }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Action Button -->
<div class="container-xl align-center">
  <div class="row align-items-center p-2">
    <button class="btn btn-outline-success fs-3" (click)="setOverlayBit(true)">+</button>
    <button class="btn btn-outline-danger fs-3 mt-2" (click)="setOverlayBit(true)">-</button>
  </div>
</div>
<!-- Create new entry-->
<div class="overlay container" *ngIf="overlayActive == true">
  <form>
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary" (click)="setOverlayBit(false)">Cancel</button>
        <p>New Entry</p>
        <button type="submit" class="btn btn-primary" (click)="addNewEntry()">Add</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input class="form-control" type="number" name="" id="">
        <input class="form-control" type="date" name="" id="">
        <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
  </form>

</div>
